<h1>Agendar Nova Consulta</h1>

<form action="/ADM/salvarConsulta" method="POST">
    <label for="medico_id">Médico:</label>
    <select name="medico_id" required>
        {{#each medicos}}
            <option value="{{this.id}}">{{this.nome}} - {{this.especialidade}}</option>
        {{/each}}
    </select>

    <label for="paciente_id">Paciente:</label>
    <select name="paciente_id" required>
        {{#each pacientes}}
            <option value="{{this.id}}">{{this.nome}}</option>
        {{/each}}
    </select>

    <label for="data">Data:</label>
    <input type="date" name="data" required>

    <label for="hora">Hora:</label>
    <input type="time" name="hora" required>

    <label for="status">Status:</label>
    <select name="status">
        <option value="Agendada">Agendada</option>
        <option value="Concluída">Concluída</option>
        <option value="Cancelada">Cancelada</option>
    </select>

    <button type="submit">Agendar Consulta</button>
</form>

<a href="/ADM/listagemConsultas">Voltar para a Listagem de Consultas</a>
